*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu{
    background-color: rgb(37, 37, 39);
}

#menu ul {
  
    max-width: 800px;
    list-style: none;
    padding: 0%;

   
}

#menu ul li {
   display: inline;
 
}

#menu ul li a {
    color: #fff;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .5s;
   
}

#menu ul li a:hover {
    background-color: rgb(76, 76, 233);
   
}

#menu ul li:last-child a {
    float: right;
    background-color: rgb(76, 76, 233);
  
}
#logo{
    height: 80px;
    width: 85px;
    float: left;
}
#nome{
    border-radius: 5px;
    width: 500px;
    height: 30px;
    border-color: black;
    color: black;
}
#sobrenome{
    border-radius: 5px;
    width: 500px;
    height: 30px;
    border-color: black;
    color: black;
}
#date{
    border-color: black;
    color: black;
}
#email{
    border-radius: 5px;
    width: 500px;
    height: 30px;
    border-color: black;
    color: black;
}
#button{
    width: 80px;
    height: 30px;
    background-color: mediumaquamarine;
    border-color: mediumaquamarine;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    }